name: Publish Docker image
on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract version from tag (DEBUG)
        id: get_version
        run: |
          echo "GITHUB_REF='${GITHUB_REF}'"
          echo "FULL_TAG=${GITHUB_REF#refs/tags/}"
          echo "VERSION1=${GITHUB_REF#refs/tags/v}"
          VERSION=$(echo $GITHUB_REF | sed 's|refs/tags/||' | sed 's/^v//')
          echo "VERSION=$VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build image
        run: make build
        env:
          IMAGE_NAME: yabison/docker-ansible
          VERSION: ${{ github.ref_name }}

      - name: Tag latest
        run: |
          docker tag yabison/docker-ansible:${{ github.ref_name }} yabison/docker-ansible:latest

      - name: Push images
        run: |
          docker push yabison/docker-ansible:${{ github.ref_name }}
          docker push yabison/docker-ansible:latest


      - name: Scan vulnerabilities
        uses: aquasecurity/trivy-action@0.32.0
        if: always()
        env:
          TRIVY_NO_PROGRESS: true
        with:
          image-ref: ${{ vars.IMAGE_NAME }}:${{ steps.get_version.outputs.VERSION }}
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH
          scanners: vuln
          ignore-unfixed: true
          exit-code: 1

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: trivy-results.sarif