name: Publish Docker image
on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.IMAGE_NAME }}:${{ steps.get_version.outputs.VERSION }}
            ${{ vars.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Scan vulnerabilities
        uses: aquasecurity/trivy-action@0.28.1
        if: always()
        env:
          TRIVY_NO_PROGRESS: true
        with:
          image-ref: ${{ vars.IMAGE_NAME }}:${{ steps.get_version.outputs.VERSION }}
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH
          scanners: vuln
          ignore-unfixed: true
          exit-code: 1

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: trivy-results.sarif